/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.example-full-width {
  width: 100%;
}
form {
  width: 100%;
}
button.mat-button.mat-raised-button.mat-primary {
  width: 100%;
}
.checkbox-btn {
  float: left;
}
.cdt-alerte {
  float: left;
  font-size: 13px;
  margin-top: 25px;
  position: absolute;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: serif;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  margin-left: 20px;
  text-decoration: none;
  cursor: pointer;
}
.close:hover {
  opacity: .5;
}
input#mat-input-0 {
  padding-bottom: 13px;
}
input#mat-input-1 {
  padding-bottom: 13px;
}
div.container {
  margin: 2% 24%;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.cnxbtn{
 padding: 5%;
}
form.normal-form{
  margin: 10px;
}

.controles-container{
  width: 100%;
  padding: 5%;
}

.controles-container > * {
  width: 100%;
  }

  .add-bottom-padding{
    padding-bottom: 10px;
  }
  /* radio group */
mat-radio-group mat-radio-button{
  margin-left: 5px;
}

.button-row button{
  margin: 5px;
}
